.autocomplete-input {
    margin: 1rem;
    width: 20rem;
    padding: 1rem .5rem;
}

.autocomplete-dropdown {
    width: 21rem;
    margin-left: 1rem;
    margin-top: -1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.autocomplete-item {
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid darkgray;
    font-size: 1rem;
    text-align: left;
    background: lightgoldenrodyellow;
    border-radius: 5px;
    margin-bottom: 3px;
}

.autocomplete-item-highlighted {
    background: black;
    color: white;
}

.autocomplete-match {
    font-weight: bold;
}
